<ion-header class="details">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
      <!-- {{pagedata.organisation}} -->
      {{pagetitle}}
      <div>
        <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="details">
  <div class="detailspage" (swipe)="switchTab($event)">
    <ion-grid>

      <!-- <ion-row>
            <ion-col col-12>This column will take 12 columns</ion-col>
          </ion-row> -->
      <!-- {{pagedata.organisation}}  -->

      <ion-row *ngIf="tabstoDisplay">
        <div class="details__container">
          <!-- <ul> -->
          <ng-template ngFor let-item [ngForOf]="tabstoDisplay" let-i="index" [ngForTrackBy]="trackByFn">

            <!-- <li>{{item}}</li> -->

            <!-- <div class="fa {{item[4]}} fa-3x" text-center></div> -->
            <!-- <p id="{{i}}">{{item}}</p> -->

            <button id="{{i}}" #navbuttons (click)="switchonTab(i)" ion-button>{{item}}</button>
            <!-- <button id="{{i}}" *ngIf="i!=0" [style.background]='secondaryColor' (click)="switchonTab(i, $event)" ion-button>{{item}}</button> -->

          </ng-template>
        </div>
        <div padding class="details__content" *ngIf="tabstoDisplay && tabsContent">
          <ng-template ngFor let-content [ngForOf]="tabstoDisplay" let-c="index" [ngForTrackBy]="trackByFn">

            <div  id="{{c}}" *ngIf="c==0" [ngClass]="(selectedContainer==0)? 'details__show': 'details__hide' ">
              <ng-template ngFor let-item [ngForOf]="tabsContent" let-i="index" [ngForTrackBy]="trackByFn">
                <div class="details__item">
                  <div id="{{i}}" [innerHtml]="item">
                  </div>
                </div>
              </ng-template>
            </div>

            <div id="{{c}}" *ngIf="c!=0" [ngClass]="(selectedContainer==c)? 'details__show': 'details__hide' ">
              <!-- <ng-template ngFor let-textitem [ngForOf]="tabsContent" let-k="index" [ngForTrackBy]="trackByFn">
                <div class="details__item">
                  <div id="{{k}}" [innerHtml]="textitem">
                  </div>
                </div>
              </ng-template> -->
              <ng-template ngFor let-item [ngForOf]="tabsContent" let-i="index" [ngForTrackBy]="trackByFn">
                  <div class="details__item">
                    <div id="{{i}}" [innerHtml]="item">
                    </div>
                  </div>
                </ng-template>
          </div>
          </ng-template>
        </div>
      </ion-row>

      <div padding *ngIf="dropdownList">
        <ion-list>
          <ng-template ngFor let-dropdownitem [ngForOf]="dropdownList" let-c="index" [ngForTrackBy]="trackByFn">
            <ion-item>
              <ion-label floating>{{dropdownitem.label}}</ion-label>
              <ion-select>
                <ion-option *ngFor="let option of dropdownitem.dropdownlist; let i = index;" value="{{option}}">
                  {{option}}
                </ion-option>
              </ion-select>
              <ion-icon class="icon-dropdown"></ion-icon>
            </ion-item>

            <!-- <ion-item>
          <ion-label>Helbredskategorier</ion-label>
          <ion-select>
            <ion-option value="Smerteproblem i kroppens øvre del(nakke, skulder, albue, hånd, mfl.)">Smerteproblem i kroppens øvre del(nakke, skulder, albue, hånd, mfl.)  </ion-option>
            <ion-option value="Smerteproblem i kroppens nedre del(lænderyg, hofte, knæ, ankel, mfl.)">Smerteproblem i kroppens nedre del(lænderyg, hofte, knæ, ankel, mfl.)</ion-option>
          </ion-select>
          <ion-icon class="icon-dropdown"></ion-icon>
        </ion-item> -->
          </ng-template>

          <ng-template *ngIf="textfieldList" ngFor let-textfielditem [ngForOf]="textfieldList" let-c="index" [ngForTrackBy]="trackByFn">
            <ion-item>
              <ion-label floating>{{textfielditem.label}}</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ng-template>
        </ion-list>

      </div>
      <button *ngIf="showsearchbutton" ion-button outline class="details__searchbutton" (click)="search()">Søg
        <ion-icon name="search"></ion-icon>
      </button>

      <div padding *ngIf="showsearchList">
        <ion-list class="details__searchlist">
          <ion-item (click)="searchDetails(searcheditem)" *ngFor="let searcheditem of searchedList; let i= index">
            <ion-thumbnail item-start>
              <img src="assets/imgs/searchimages/{{searcheditem.image}}">
            </ion-thumbnail>
            <h2>{{searcheditem.heading}}</h2>
            <p>{{searcheditem.teaser}}</p>
            <button class="details__searchdetailview" ion-button clear item-end>View</button>
          </ion-item>
        </ion-list>


      </div>


      <!-- <ion-item class="item-input-padding size-16 select-css ion-select item-block item item-select" [class.item-ios]="currentPlatform == 'ios'"
[class.item-md]="currentPlatform == 'android'">
Helbredskategorier
<select   *ngIf="searchData" class="ion-select size-16 select-bottom" name="estimate" >
    <option value="Smerteproblem i kroppens øvre del(nakke, skulder, albue, hånd, mfl.)">Smerteproblem i kroppens øvre del(nakke, skulder, albue, hånd, mfl.)  </option>
          <option value="Smerteproblem i kroppens nedre del(lænderyg, hofte, knæ, ankel, mfl.)">Smerteproblem i kroppens nedre del(lænderyg, hofte, knæ, ankel, mfl.)</option>
</select>
<ion-icon class="icon-dropdown"></ion-icon>
</ion-item> -->



      <div *ngIf="!tabs">

        no data...
      </div>

    </ion-grid>
  </div>
</ion-content>