

@import '../../assets/sass/variables';
.details {
    // background: $color-menu-gray !important;
    .detailspage{
        height: 100%;
    }
    .toolbar-background-md{
        background: $color-menu-gray;
    }
    .toolbar-title{
        color: $color-white;
    }
    .item {
        color: $color-text-gray;
        background: $color-menu-gray;
    }
    // .scroll-content{
    //     background: $color-menu-gray;
    // }
    .toolbar,.bar-button-default-md{
        color: $color-text-gray !important;

    }
    .back-button {
        color: $color-white !important;
    }
    .detailscontainer{
     width: 100%;

     .button-default{
         font-size: 1.3rem;
         max-width: 31%;
         width: auto;


         .button-inner{
             justify-content: left;
             text-overflow: ellipsis;
             overflow-x: hidden;
         }
     }
    }
    &__hide{
        display: none;
    }
    &__show{
        display: block;
    }

}