@import '../../assets/sass/variables';
.menu {
    line-height: 1.5em;
    background: $color-lightgray-background !important;
    .toolbar-background-md {
        background: $color-lightgray-background;
    }
    .toolbar-title {
        color: $color-white;
    }
    .item {
        color: $color-dark-black;
        background: $color-lightgray-background;
    }
    .scroll-content {
        background: $color-lightgray-background;
    }
    &__heading {
        background: $primary-color-theme !important;
        color: $color-white !important;
    }
    .toolbar-background {
        background: $primary-color-theme !important;
        color: $color-white !important;
        border-bottom: 1px solid $color-white;
    }
    .content-ios {
        .scroll-content {
            margin-top: 4.7em !important;
        }
    }
    &__header{
        &.header-ios{
            height: 4.5em !important;
            padding-top: 0.5em !important;
        }
    }
    .title-ios{
        background: $primary-color-theme !important;
    }
    
}