<div class="menu">
  <ion-menu [content]="content">
    <ion-header class="menu__header">
      <ion-toolbar class="menu">
        <ion-title>
          <div class="menu"></div>
          Carex</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-list-header class="menu__heading">
          Min Relationer
        </ion-list-header>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item  (click)="gotoPage()">
          Andre Relationer
        </button>
      </ion-list>
      <ion-list>
        <ion-list-header class="menu__heading">
          Min Menu
        </ion-list-header>
        <button menuClose ion-item (click)="openProfile()">
          Profil
        </button>
        <button menuClose ion-item (click)="openNotifications()">
          Notifikationer
        </button>
        <button menuClose ion-item (click)="openSettings()">
          Indstillinger
        </button>
        <button menuClose ion-item (click)="openTermsandCondition()">
            Betingelser 
          </button>
        

      </ion-list>
    </ion-content>

  </ion-menu>
</div>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>