
@import  '../../assets/sass/variables';

.menu {
    background: $color-lightgray-background !important;

    .toolbar-background-md{
        background: $color-lightgray-background;
    }
    .toolbar-title{
        color: $color-dark-black;
    }
    .item {
        color: $color-dark-black;
        background: $color-lightgray-background;
    }
    .scroll-content{
        background: $color-lightgray-background;
    }
    &__heading{
        background: $primary-color-theme !important;
        color: $color-white !important;
    }

}