<div class="menu">
  <ion-menu [content]="content">
    <ion-header class="menu__header">
      <ion-toolbar class="menu">
        <ion-title *ngIf="menuItems">
          <div class="menu"></div>
          {{menuItems.menu.appName}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list  *ngIf="menuItems">
        <ion-list-header class="menu__heading">
          {{menuItems.menu.myrelation}}
        </ion-list-header>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button menuClose ion-item  (click)="gotoPage()">
          {{menuItems.menu.otherrelation}}
        </button>
      </ion-list>
      <ion-list *ngIf="menuItems">
        <ion-list-header class="menu__heading">
            {{menuItems.menu.mymenu}}
        </ion-list-header>
        <button menuClose ion-item (click)="openProfile()">
            {{menuItems.menu.profile}}
        </button>
        <button menuClose ion-item (click)="openNotifications()">
            {{menuItems.menu.notification}}
        </button>
        <!-- <button menuClose ion-item (click)="openSettings()">
          Indstillinger
        </button> -->
        <button menuClose ion-item (click)="openTermsandCondition()">
            {{menuItems.menu.termsandContion}} 
          </button>
        

      </ion-list>
    </ion-content>

  </ion-menu>
</div>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
