<ion-header class="profile">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>
      <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
      <!-- {{pagedata.organisation}} -->
      Profile
      <div>
        <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="profile">

  <ion-avatar item-start>
    <img src="assets/imgs/user2.png" />
    <h4 class="profile__username" item-end> Mr. V. Singh  <ion-icon item-left name="create"></ion-icon> </h4>
  </ion-avatar>
  <ion-list>
    <ion-item>
        <ion-icon item-left name="person"></ion-icon>
      <ion-label color="primary">First Name</ion-label>
      <ion-input disabled item-end value="Vishwanath"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="person"></ion-icon>
      <ion-label color="primary">Last Name </ion-label>
      <ion-input disabled item-right value="Singh"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="locate"></ion-icon>
      <ion-label color="primary">Address</ion-label>
      <ion-input item-right  value="Herlev 2600"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="calendar"></ion-icon>
      <ion-label color="primary">Date of Birth</ion-label>
      <ion-input item-right value="19-09-1987"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon item-left name="mail"></ion-icon>
      <ion-label color="primary">Email</ion-label>
      <ion-input item-right  value="vsi@kiatec.dk"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="call"></ion-icon>
      <ion-label color="primary">Mobile</ion-label>
      <ion-input item-right value="455434433"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="map"></ion-icon>
      <ion-label color="primary">Country</ion-label>
      <ion-input item-right value="Denmark"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="quote"></ion-icon>
      <ion-label color="primary">Language</ion-label>
      <ion-input item-right value="Danish"></ion-input>
    </ion-item>
    <div padding>
        <button (click)="logout()" ion-button class="logout">Logout</button>
    </div>
  </ion-list>

</ion-content>

<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->