<ion-header class="profile">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="profileContent" text-center>
      <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
      <!-- {{pagedata.organisation}} -->
      {{profileContent.profile.heading}}
      <div>
        <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="profile">

  <ion-avatar item-start>
    <img src="{{loggedUrl}}config/assets/imgs/user2.png" />
    <h4 *ngIf="user" class="profile__username" item-end> {{username}} 
       <!-- <ion-icon item-left name="create"></ion-icon> -->
     </h4>
  </ion-avatar>
  <ion-list *ngIf="profileContent">
    <ion-item>
        <ion-icon item-left name="person"></ion-icon>
      <ion-label color="primary">{{profileContent.profile.name}}</ion-label>
      <ion-input *ngIf="user"  disabled item-end value="{{username}}"></ion-input>
    </ion-item>
    <!-- <ion-item>
        <ion-icon item-left name="person"></ion-icon>
      <ion-label color="primary">Last Name </ion-label>
      <ion-input disabled item-right value="{{user.username}}"></ion-input>
    </ion-item> -->
    <!-- <ion-item *ngIf="profileContent">
        <ion-icon item-left name="locate"></ion-icon>
      <ion-label color="primary">{{profileContent.profile.address}}</ion-label>
      <ion-input item-right  disabled value="Herlev 2600"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon item-left name="calendar"></ion-icon>
      <ion-label color="primary">{{profileContent.profile.dateofbirth}}</ion-label>
      <ion-input item-right disabled value={{profileContent.profile.notavailable}}></ion-input>
    </ion-item> -->
    <ion-item *ngIf="profileContent">
      <ion-icon item-left name="mail"></ion-icon>
      <ion-label color="primary">{{profileContent.profile.email}}</ion-label>
      <ion-input item-right  disabled class="profile__emailid-input" value="{{email}}"></ion-input>
    </ion-item>
    
    <!-- <ion-item *ngIf="profileContent">
        <ion-icon item-left name="call"></ion-icon>
      <ion-label color="primary">{{profileContent.profile.mobile}}</ion-label>
      <ion-input item-right disabled value={{profileContent.profile.notavailable}}></ion-input>
    </ion-item> -->
    <!-- <ion-item>
        <ion-icon item-left name="quote"></ion-icon>
      <ion-label color="primary">Language</ion-label>
      <ion-input item-right disabled value="Danish"></ion-input>
    </ion-item> -->
    <div padding *ngIf="profileContent">
        <button (click)="logout()" ion-button class="logout">{{profileContent.profile.logout}}</button>
    </div>
  </ion-list>

</ion-content>

<!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->