@import '../../assets/sass/variables';
.profile {
    line-height: 1.5em;
    .toolbar,
    .toolbar-title,
    .bar-button-default-md {
        color: $color-white !important;
        background-color: $primary-color-theme;
    }
    .back-button {
        color: $color-white !important;
        background-color: $primary-color-theme;
    }
    ion-avatar {
        background-color: $primary-color-theme;
        width: 100%;
        img {
            border-radius: 100%;
            width: 50%;
            padding: .3em;
            padding-right: 0;
        }
    }
    &__username {
        float: right;
        display: inline-block;
        width: 50%;
        top: 0;
        margin-top: -7em;
        position: relative;
        color: $color-white;
        margin-right: 0em;
        font-weight: bold;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    .item-icon {
        color: $color-highlight-green;
    }
    .label {
        color: $primary-color-theme;
        font-weight: 500;
    }
    .logout {
        background: $primary-color-theme;
        width: 100%;
    }
    &__emailid-input {
        input {
            text-overflow: ellipsis;
        }
    }
}