<ion-header [ngClass]="(!ismenupage)? 'headerlogo': 'header'">
    <headerlogo-viewer></headerlogo-viewer>
</ion-header>

<ion-content #content class="termsconditions">

        <div *ngIf="isLoading" class="spinner">
                <ion-spinner *ngIf="isLoading"></ion-spinner>
          </div>

    <h1 *ngIf="termsmodel" padding class="termsconditions__heading">{{termsmodel.heading}}</h1>
    <div *ngIf="termsmodel">
        <div *ngIf="termsmodel.paragraphs" padding>
        <ng-template ngFor let-item [ngForOf]="termsmodel.paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
            <p text-left [innerHTML]="item">
            </p>
        </ng-template>

        <form [formGroup]="termsForm" (ngSubmit)="submitTerms()">
                <ion-list>

                    <ion-item class="termsconditions__checkboxitem">
                        <ion-label class="termsconditions__checkboxlabel">{{termsmodel.checkboxcontent}}</ion-label>
                        <ion-checkbox [(ngModel)]="acceptermmodel" formControlName="accepterm"></ion-checkbox>
                    </ion-item>
                </ion-list>
                <div *ngIf="saveerror">
                    <div class="login__error">{{saveerrormessage}}</div>

                </div>
            <ng-container *ngIf="!ismenupage">
                <button ion-button type="submit" [disabled]="!acceptermmodel" class="termsconditions__login-button">Fortsæt</button>

            </ng-container>
        </form>

    </div>
   
    </div>
 
    <div class="termsconditions__verison">Version: 1.0.19</div>
</ion-content>