@import "../../assets/sass/variables";

.otp {
    line-height: 1.5em;

    .scroll-content{
        overflow: hidden;
    }

    &__form {
        margin-top: 40%;
    }

    &__text-box {
        border: 1px solid $color-secondary-gray;
        margin-left: .5em;
        margin-right: .5em;
        border-radius: .4em;

        input {
            font-size: 2em;
            text-align: center;
            margin-right: 0;
            // text-transform: password;
            // -webkit-text-security: disc;

            border: none;
            // color: transparent;
            display: inline-block;
            font-size: 2em;
            // text-shadow: 0 0 0 $color-menu-gray;

            &:focus{
                outline: none;
            }
        }
    
    }

    &__otplabel {
        text-align: center;
        border-top: none !important;

        .item-inner {
            border-bottom: none !important;
        }
    }

    &__inputs {
        text-align: center;
        border-bottom: none !important;
        box-shadow: none !important;

        .item-inner {
            border-bottom: none !important;
        }
    }
    
}
