 <!-- <ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>  -->

    <div *ngIf="cp_content">
        <p text-left>{{cp_content.heading}}</p>

        <form [formGroup]="loginForm" class="changepassword__form" (ngSubmit)="gotologin()">
        <div>
            <ion-list>
    
                <ion-item>
    
                    <ion-label class="dark">{{cp_content.password}}</ion-label>
                    <ion-input type="password" id="password" formControlName="password"></ion-input>
                </ion-item>
                <ion-item>
    
                    <ion-label class="dark">{{cp_content.repeatpassword}}</ion-label>
                    <ion-input type="password" id="confirmPassword" formControlName="confirmPassword"></ion-input>
                </ion-item>
                <div class="login__error alert alert-danger" *ngIf="loginForm.controls.confirmPassword.errors?.MatchPassword">{{cp_content.errormessage}}</div>
            </ion-list>
            
        </div>
        <button ion-button type="submit" [disabled]="!loginForm.valid" class="login__login-button">{{cp_content.save}}</button>
        <button  color="secondary" ion-button type="button" (click)="resetForm()" class="login__forgetpwd">{{cp_content.cancel}}</button>
 
    </form>    
    </div>
