 <!-- <ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>  -->

    <div *ngIf="cp_content">
        <p text-left>{{cp_content.heading}}</p>

        <form [formGroup]="loginForm" class="changepassword__form" (ngSubmit)="gotologin()">
        <div>
            <ion-list>
                <ion-item>
    
                    <ion-label class="changepassword__label">{{cp_content.password}}</ion-label>
                    <ion-input type="password" id="password" placeholder="{{cp_content.password}}" formControlName="password"></ion-input>
                </ion-item>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.Numbers">{{cp_content.hasnumbererror}}</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.Lower">{{cp_content.haslowerrerror}}</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.Upper">{{cp_content.hasuppererror}}</p>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.errors.long">{{cp_content.haslongerror}}</p>
                <ion-item>
    
                    <ion-label class="changepassword__label">{{cp_content.repeatpassword}}</ion-label>
                    <ion-input type="password" id="confirmPassword" placeholder="{{cp_content.repeatpassword}}" formControlName="confirmPassword"></ion-input>
                </ion-item>
                <p class="login__error alert alert-danger" *ngIf="loginForm.controls.confirmPassword.errors?.MatchPassword">{{cp_content.errormessage}}</p>
            </ion-list>
        </div>
        <button ion-button type="submit" [disabled]="!loginForm.valid" class="login__login-button">{{cp_content.save}}</button>
        <button  color="secondary" ion-button type="button" (click)="resetForm()" class="login__forgetpwd">{{cp_content.cancel}}</button>
 
    </form>    
    </div>
