<ion-header class="header">
    <header-viewer></header-viewer>
</ion-header>

<ion-content padding class="welcome">

    <h4> {{heading}}</h4>

    <ng-template ngFor let-item [ngForOf]="paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
        <p text-left>
            {{item}}
        </p>
    </ng-template>


    <span class="welcome__condition">{{condition}}</span>

        <!-- <input type="button" (click)="gotoLogin()" value="Fortsæt til login"/> -->
        <button class="welcome__gotologin" ion-button (click)="gotoLogin()"  float-right color="secondary">Fortsæt til login</button>
</ion-content>
<!-- 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->