<ion-header class="headerlogo">
    <headerlogo-viewer></headerlogo-viewer>
</ion-header>

    <div *ngIf="isLoading" class="spinner">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

<ion-content  padding class="welcome">

    <div *ngIf="welcomedata" >
    <h4  *ngIf="heading">{{heading}}</h4>

    <ng-template ngFor let-item [ngForOf]="paragraphs" let-i="index" [ngForTrackBy]="trackByFn">
        <p text-left>
            {{item}}
        </p>
    </ng-template>



    <span *ngIf="condition" class="welcome__condition">{{condition}}</span>

    <!-- <input type="button" (click)="gotoLogin()" value="Fortsæt til login"/> -->
    <button class="welcome__gotologin" ion-button (click)="gotoLogin()" float-right color="secondary">{{continue}}</button>

</div>
</ion-content>
<!-- 
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->