<ion-header class="headerlogo">
            <headerlogo-viewer></headerlogo-viewer>
</ion-header>

<ion-content>
<div  class="nemid">

      <div text-center class="nemid__container" padding>
            <h5 *ngIf="heading">{{heading}}</h5>
            <iframe  scrolling="no" allowfullscreen="true" allowtransparency="true" style="width: 100%; height: 100%; margin: 0; padding: 0; border: none; background-color: transparent"
                  src="https://udv-admin.carex.dk/nemid/nemidlogon.php">
            </iframe>
      </div>
</div>
      <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->


</ion-content>