<ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>

      <ion-content class="nemid">

       <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
       

      <div padding>
            <img class="logo" class="nemid__iframe" src="assets/imgs/nemidd.JPG" />
            <button ion-button  color="secondary" (click)="loginNemid()" class="nemid__login-button">Continue</button>
      </div>
    </ion-content>
    
    