
<ion-header class="settings">
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title text-center>
              <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
              <!-- {{pagedata.organisation}} -->
              Settings
              <div>
                <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
            </div>
            </ion-title>
        </ion-navbar>
      </ion-header>
      <ion-content class="homepage">
        <ion-grid>
               
            <ion-row>
                 <p>  In Settings Page coming soon with amazinng things........ </p>
      
                    </ion-row>
                  
      
          
          </ion-grid>
        </ion-content>
  
        <!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav> -->
    