<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title margin-left>
      <img [width]="180" [height]="40" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> 
        <!-- {{pagedata.organisation}} -->
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content  class="homepage">
  <div (swipe)="swipeEvent($event)" >
  <div>
      <img [width]="500" [height]="250" src="assets/imgs/{{pagedata.bg_image}}" />
  </div>
  <!-- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will show you the way.
  </p> -->
<!-- 
  <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <ion-grid>
      <!-- <ion-row>
        <ion-col col-12>This column will take 12 columns</ion-col>
      </ion-row> -->
   
         
      <ion-row>
              <ng-template ngFor let-item [ngForOf]="pagemenuButtons" let-i="index" [ngForTrackBy]="trackByFn">

                
                  <ion-col class="item" col-6>
                    <div (click)="detailsPage(item,pagedata)">
                     <div class="fa {{item[4]}} fa-3x" text-center></div>
                     <p>{{item[1]}}</p>
                     </div>
           </ion-col>
                </ng-template>  

              </ion-row>
            

    
    </ion-grid>
    </div>
</ion-content>
