<ion-header class="header">
      <headerlogo-viewer></headerlogo-viewer>
</ion-header>

<ion-content class="cpr">

      <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->


      <div *ngIf="cprdata"  text-center padding>
            <h5>{{heading}}</h5>
            <form [formGroup]="cprForm" (ngSubmit)="cprValidate()">
                  <div>
                        <ion-list>

                              <ion-item>

                                    <ion-label class="dark">{{cprdata.cprlabel}}</ion-label>
                                    <ion-input type="text" [(ngModel)]="cprnummnermodel" formControlName="cprnummner"></ion-input>
                              </ion-item>
                              {{cprForm.controls.cprnummner.errors?.touched}}
                              <div class="login__error alert alert-danger" *ngIf="cprForm.controls.cprnummner.errors?.cprValidator && (cprForm.controls.cprnummner.touched)" class="cpr__error">{{cprdata.cprvalidation}}</div>
                              <div class="login__error alert alert-danger" *ngIf="!cprinvaliderror" class="cpr__error">{{cprdata.errormessage}}</div>
                             <div *ngIf="!serviceerror" >
  <div class="login__error alert alert-danger" [innerHTML]="serviceerrormessage" class="cpr__error">{{serviceerrormessage}}</div>
                             </div>

                        </ion-list>

                        <ion-list>

                              <ion-item >

                                    <ion-label class="dark">{{cprdata.savemycpr}} </ion-label>
                                    <ion-checkbox (click)="yesagree($event)"  [(ngModel)]="yes" formControlName="yes"></ion-checkbox>
                              </ion-item>
                        </ion-list>
                        <div>


                        </div>
                  </div>



                  <button ion-button type="submit" [disabled]="cprForm.controls.cprnummner.errors?.cprValidator" class="login__login-button">{{continue}}</button>

                  <button ion-button type="button" color="secondary" (click)="gotoNemid()" class="login__login-button">{{cprdata.gotonemid}}</button>
            </form>
      </div>
</ion-content>