<ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>

      <ion-content class="cprsave">

       <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
       

      <div text-center padding>
            cpr save agreement!!


          
            </div>

            <ng-container >
                        <button ion-button #login color="primary" (click)="gototermsPage()" class="nemid__login-button">Fortsæt</button>
                    </ng-container>

    </ion-content>