<ion-navbar>
    <!-- <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button> -->
    <ion-title text-center>
        <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
        <!-- {{pagedata.organisation}} -->

        <div>
            <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
            <img class="logo" [width]="" [height]="40" src="assets/imgs/logos/tryg_logo.png" />
        </div>
    </ion-title>
</ion-navbar>