@import '../../assets/sass/variables';
.header {
    background: $primary-color-theme !important;
    .toolbar-background,
    .toolbar-background-ios {
        background: inherit !important;
        height: 4em;
    }
    .bar-buttons,
    .bar-button-default-ios {
        color: $color-white;
    }
    .title {
        //width: 80%;
        margin-top: 0em;
    }
    .title-md {
        //margin-left: -1.8em;
    }
    .toolbar-title-md {
       width: 80%;
    }
    .toolbar-ios {
        padding-top: 0em;
    }
    &.header-ios {
        // height: 4.5em !important;
        padding-top: 0.5em !important;
    }
}