@import  '../../assets/sass/variables';

.searchdetails {
    background: $primary-color-theme !important;

    .toolbar-background, .toolbar-background-ios{
        background: inherit !important;
        height: 4em;
      }
      .bar-buttons{
          color: $color-white;
      }
   .title{
         //width: 80%;
        margin-top: 0.2em;
    }
    .title-md{
        //margin-left: -1.8em;
    }
    .toolbar-title-md{
        width: 85%;
    }
    &__bg-img{
        width: 100%;
        height: 15em;
    }
    &__content{
        color: $color-white;
    }
}