<ion-header class="details">
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            <!-- <img [width]="200" [height]="50" src="assets/imgs/unitlogos/{{pagedata.logo}}" /> -->
            <!-- {{pagedata.organisation}} -->
            {{heading}}
            <div>
                <!-- <img  class="logo" [width]="" [height]="45" src="assets/imgs/unitlogos/CareX_hvid_gronlogo-66.png" /> -->
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="searchdetails">
    <div *ngIf="searchselectedItem">
        <img class="searchdetails__bg-image" src="assets/imgs/searchimages/{{searchselectedItem.image}}" />
    </div>
    <div class="searchdetails__content" padding>
        <h3> {{heading}}</h3>
        <h5>{{teaser}}</h5>
        <div *ngFor="let item  of detailsparagraphs">
            <div [innerHtml]="item">
            </div>

        </div>
    </div>
</ion-content>