<!-- <ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header> -->
<div *ngIf="loginData" class="login">
    <p text-center class="login__heading">{{loginData.heading}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div *ngIf="loginData">
            <ion-list>
                <ion-item>
                    <ion-label class="dark">{{username}} </ion-label>
                    <ion-input type="text" placeholder="{{username}}" formControlName="userid"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label class="dark">{{password}} </ion-label>
                    <ion-input type="password" placeholder="{{password}}" class="form-control" formControlName="password"></ion-input>
                </ion-item>
            </ion-list>
            <div *ngIf="error">
                <div class="login__error">{{errormsg}}</div>

            </div>
        </div>
        <button ion-button type="submit" [disabled]="!loginForm.valid" class="login__login-button">{{submit}}</button>

        <button ion-button type="button" color="secondary" (click)="forgetpassword($event)" class="login__forgetpwd">{{forgetpasswordlabel}}</button>
    </form>
</div>