<ion-header class="header">
        <header-viewer></header-viewer>
    </ion-header>
<ion-content padding class="login">
       <!-- <form [formGroup]="loginForm" (ngSubmit)="login()" >
    <ion-list> 
          
                         <ion-item>
                             
                                    <ion-label class="dark">UserId: </ion-label>
                                      <ion-input  type="text" formControlName="userid"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label class="dark">Password: </ion-label>
                                      <ion-input type="password" class="form-control" formControlName="password"></ion-input>
                                </ion-item>
    

    </ion-list>
    <button ion-button type="submit" color="secondary" [disabled]="!loginForm.valid" class="login__login-button">Login</button>
</form>   -->
<!-- <div id="iframecontent">
<iframe #myIframe id="myIframe" (load)="onLoadFunc($event)" class="login__iframe" sandbox="allow-cross-origin allow-scripts allow-forms" src="https://udv-tryg.carex.dk/simplesaml/module.php/core/loginuserpass.php?AuthState=_71b81db81b429e56d3f1b7a57d3d25bd5304f16b1c%3Ahttps%3A%2F%2Fudv-tryg.carex.dk%2Fsimplesaml%2Fmodule.php%2Fcore%2Fas_login.php%3FAuthId%3Didp.carex.dk%26ReturnTo%3Dhttps%253A%252F%252Fudv-tryg.carex.dk%252F">
 
</iframe>
</div> -->

<!-- sandbox="allow-same-origin allow-scripts allow-popups allow-forms" -->

<div  *ngIf="iframeUrl" id="iframecontent">
        <iframe #myIframe id="myIframe" class="login__iframe" sandbox="allow-same-origin allow-scripts allow-forms" src="https://udv-tryg.carex.dk">
         
        </iframe>
        </div>
</ion-content>



  <!-- <ion-item>
          <ion-label color="dark">User Id</ion-label>
            <ion-input item-end value=""></ion-input>
        </ion-item>
        <ion-item>
           
            <ion-label color="dark">Password </ion-label>
            <ion-input item-right type="password" value=""></ion-input>
        </ion-item> 
-->