
.spinner
{
position: absolute;
margin: auto;
/* top: 0; */
left: 0;
bottom: 0;
right: 0;
height: 85px;
text-align: center;
/* background: #3e3e3e; */
opacity: 1;
height: 100%;
z-index: 999;



ion-spinner {
    // top: 40%;

    // &.overlay {
    //     /* Absolute Center Spinner */
    //     color: #000000 !important;
    //     position: fixed !important;
    //     z-index: 999 !important;
    //     height: 4em !important;
    //     width: 4em !important;
    //     overflow: show;
    //     margin: auto;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     /* Transparent Overlay */
    //     &:before {
    //         content: '';
    //         display: block;
    //         position: fixed;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         background-color: rgba(0, 0, 0, 0.3);
    //     }
    // }
}
}
